<!DOCTYPE html>
<html>
<head>
    <title>Environment Variables Configuration</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script> 
    <script>
    document.getElementById('porcupineAccessKey').oninvalid = function(event) {
        event.target.setCustomValidity('Please enter a valid Picovoice Access Key.');
    }
    document.getElementById('openaiApiKey').oninput = function(event) {
        event.target.setCustomValidity('');
    }
    document.getElementById('openaiApiBase').oninput = function(event) {
        event.target.setCustomValidity('');
    }
    </script>
</head>
<body>
    <!-- Header Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">Voice Assistant Configuration</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home_assistant' %}">Home Assistant</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'tools' %}">Tools</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'configuration_settings' %}"><strong>Configuration Settings</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'general_customization' %}">General Customization</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <div class="alert alert-danger alert-dismissible fade show">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <strong>Error!</strong> {{ message }}
                </div>
            {% else %}
                <div class="alert alert-success alert-dismissible fade show">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <strong>Success!</strong> {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    <div class="container mt-4">
        <h2>Environment Variables Configuration</h2>
        <p>Set and modify the environment variables required for tool functionalities.</p>
        
        <form method="post" class="needs-validation">
            {% csrf_token %}
            <h4 class="mt-3">Required Variables</h4>
            <!-- Picovoice Access Key -->
            <div class="form-group mt-3">
                <label for="porcupineAccessKey">Picovoice Access Key</label>
                <input type="text" class="form-control" id="porcupineAccessKey" name="picovoice_access_key" placeholder="Enter Picovoice Access Key" value="{{ current_config.picovoice_access_key|default_if_none:'' }}" required>
                <small class="form-text text-muted">Sccess key for the Porcupine Keyword Detection, Eagle Speaker Diarization, and Koala Noise Suppression services.</small>
            </div>

            <!-- OpenAI API Key -->
            <div class="form-group mt-3">
                <label for="openaiApiKey">OpenAI API Key</label>
                <input type="text" class="form-control" id="openaiApiKey" name="openai_api_key" placeholder="Enter OpenAI API Key" value="{{ current_config.openai_api_key|default_if_none:'' }}" required>
                <small class="form-text text-muted">API key for accessing OpenAI services for advanced AI functionalities.</small>
            </div>

            <!-- OpenAI API Base -->
            <div class="form-group mt-3">
                <label for="openaiApiBase">OpenAI API Base URL</label>
                <input type="text" class="form-control" id="openaiApiBase" name="openai_api_base" placeholder="Enter OpenAI API Base URL" value="{{ current_config.openai_api_base|default_if_none:'' }}" required>
                <small class="form-text text-muted">Base URL for making API requests to OpenAI.</small>
            </div>



            {% if tool_settings.discord_message or tool_settings.google_search or tool_settings.google_maps_info or tool_settings.google_maps_directions or tool_settings.smart_home_control %}
            <h4 class="mt-3">Required Variables for selected Tools</h4>
            {% endif %}

            <!-- Discord Token -->
            {% if tool_settings.discord_message %}
            <div class="form-group mt-3">
                <label for="discordToken">Discord Token</label>
                <input type="text" class="form-control" id="discordToken" name="discord_token" placeholder="Enter Discord Token" value="{{ current_config.discord_token|default_if_none:'' }}">
                <small class="form-text text-muted">Token for integrating with Discord API for messaging features.</small>
            </div>
            {% endif %}



            <!-- Google API Key -->
            {% if tool_settings.google_search %}
            <div class="form-group mt-3">
                <label for="googleApiKey">Google Search API Key</label>
                <input type="text" class="form-control" id="googleApiKey" name="google_api_key" placeholder="Enter Google API Key" value="{{ current_config.google_api_key|default_if_none:'' }}">
                <small class="form-text text-muted">API key for accessing Google search services.</small>
            </div>
            {% endif %}



            <!-- Google CSE ID -->
            {% if tool_settings.google_search %}
            <div class="form-group mt-3">
                <label for="googleCseId">Google CSE ID</label>
                <input type="text" class="form-control" id="googleCseId" name="google_cse_id" placeholder="Enter Google CSE ID" value="{{ current_config.google_cse_id|default_if_none:'' }}">
                <small class="form-text text-muted">Custom Search Engine ID for integrating Google Search functionalities.</small>
            </div>
            {% endif %}

            <!-- Google Maps API Key -->
            {% if tool_settings.google_maps_directions or tool_settings.google_maps_info %}
            <div class="form-group mt-3">
                <label for="googleMapsApiKey">Google Maps API Key</label>
                <input type="text" class="form-control" id="googleMapsApiKey" name="google_maps_api_key" placeholder="Enter Google Maps API Key" value="{{ current_config.google_maps_api_key|default_if_none:'' }}">
                <small class="form-text text-muted">API key for utilizing Google Maps features like directions and place information.</small>
            </div>
            {% endif %}



            <!-- Home Assistant Token and URL -->
            {% if tool_settings.smart_home_control %}
            <div class="form-group mt-3">
                <label for="hassToken">Home Assistant Token</label>
                <input type="text" class="form-control" id="hassToken" name="home_assistant_token" placeholder="Enter Home Assistant Token" value="{{ current_config.home_assistant_token|default_if_none:'' }}">
                <small class="form-text text-muted">Access token for integrating with Home Assistant for smart home control.</small>
            </div>
            <div class="form-group mt-3">
                <label for="hassUrl">Home Assistant URL</label>
                <input type="text" class="form-control" id="hassUrl" name="home_assistant_url" placeholder="Enter Home Assistant URL" name="home_assistant_url" value="{{ current_config.home_assistant_url|default_if_none:'' }}">
                <small class="form-text text-muted">URL to access your Home Assistant instance.</small>
            </div>
            {% endif %}

            <button type="submit" class="btn btn-primary mt-3">Save Changes</button>
        </form>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
</body>
</html>